<header class="barr">
    <a href="@Url.Action("ControlContent", "Admin")"><i class="bi bi-view-list"></i></a>
    <a href="@Url.Action("ControlUsers", "Admin")"><i class="bi bi-person-lines-fill"></i></a>
    <a  class="personCircleBarr" href="@Url.Action("Profile", "Admin")"><i class="bi bi-person-circle"></i></a>
</header>