<header class="moderatorBarr">

    <div class="barr">
        <a href="@Url.Action("ControlTutorial", "Moderator")"><i class="bi bi-view-list"></i></a>
        <a class="personCircleBarr" href="@Url.Action("Profile", "Moderator")"><i class="bi bi-person-circle"></i></a>
    </div>
</header>