@using System.Web.Optimization
@{
    Layout = null;
    ViewBag.Title = "Sign Up";
}

<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css/bootstrap")
    @Styles.Render("~/Content/css/signUp")
</head>

<body class="singupPage">
    <div class="singupContent">
        <h1>Inregestrare</h1>

        <div class="login">
            <p>login-ul:</p>
        </div>

        <div class="E-mail">
            <p>login-ul:</p>
        </div>

        <div class="parola">
            <p>Parola:</p>
        </div>

        <div class="parola">
            <p>Repeta parola:</p>
        </div>

        <button type="button" class="btn btn-secondary btn-lg">Inregestreaza</button>

    </div>

</body>

</html>



