@using System.Web.Optimization
@using System.Web.UI.WebControls

@{
    ViewBag.Title = "Liked Tutorials";
    Layout = "~/Views/Shared/_LayoutPageUser.cshtml";
}
@Styles.Render("~/Content/css/user/likedTutorials")
<div class="valuedPage">
    <div class="valuedPageContent">

        <!-- <div class="valuedSearchBarr">
            <i class="bi bi-search"></i>
        </div> -->

        <div class="valuedCourseList">

            <div class="valuedCourseContent">
                <div class="ValuedCourseImg">
                    <img src="../../images/movement.png" />
                </div>
                <div class="ValuedCourseTitle">
                    <p>Mișcările de bază în CS:GO 2 sunt esențiale pentru succesul în joc și includ diverse tehnici care îmbunătățesc abilitatea de a evita focurile inamice.</p>
                </div>
                <div class="ValuedCourseButtons">
                    <div class="ButtonView">
                        <button type="button" class="btn btn-secondary btn-lg">Deschide</button>
                    </div>
                    <div class="ButtonRemove">
                        <i class="bi bi-heartbreak"></i>
                    </div>
                </div>
            </div>

            <div class="valuedCourseContent">
                <div class="ValuedCourseImg">
                    <img src="../../images/movement.png" />
                </div>
                <div class="ValuedCourseTitle">
                    <p>Mișcările de bază în CS:GO 2 sunt esențiale pentru succesul în joc și includ diverse tehnici care îmbunătățesc abilitatea de a evita focurile inamice.</p>
                </div>
                <div class="ValuedCourseButtons">
                    <div class="ButtonView">
                        <button type="button" class="btn btn-secondary btn-lg">Deschide</button>
                    </div>
                    <div class="ButtonRemove">
                        <i class="bi bi-heartbreak"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>