@using System.Web.Optimization

@{
    ViewBag.Title = "Liked Tutorial";
    Layout = "~/Views/Shared/_LayoutPageUser.cshtml";
}
@Styles.Render("~/Content/css/user/watchTutorial")

<div class="course">
    <div class="courseContent">
        <h1>Tehnici de mișcare</h1>
        <img src="../../images/movement.png"/>
        <p>În ciuda importanței obiectivului în joc, dacă nu știi să te miști corect. Mai mult decât atât, vorbim nu numai despre mișcări tactice în timp util pe hartă și falsuri, ci și în sensul literal al mișcărilor - alergare, mișcări mici și sărituri. Tehnica strafe din CS:GO pare complicată în teorie, dar de fapt este destul de simplu de învățat.

            Strafes
            Mișcările la stânga și la dreapta se numesc mișcare, de îndată ce simți când modelul se oprește în timpul mișcării tale, poți trage cu precizie, cu cât mișcările tale sunt verificate, cu atât mai puține șanse are adversarul tău.
                    
            Fiecare jucător experimentat cu împușcături multiplayer folosește strafe scurte pentru a îngreuna inamicul să țintească și pentru a nu deveni o țintă ușoară pentru el să rămână într-un singur loc. De acord, a intra în capul unui inamic în mișcare este o sarcină mult mai dificilă decât a lovi o singură țintă uniformă.
                    
            Începătorii fac o mare greșeală dacă văd un inamic și nu-l lovesc prima dată, doar se ghemuiesc și continuă să tragă în rafale scurte. Această tehnică nu este eficientă deoarece jucătorul se află într-un dezavantaj, doar stând în fața ochilor inamicului. În plus, viteza de mișcare în ghemuit nu vă permite să schimbați rapid poziția sau să folosiți acoperirea pentru a distruge inamicul, iar timpul să vă ridicați și să părăsiți linia țintită nu va mai fi.
        </p>

        <iframe class="video" width="660" height="385" src="https://www.youtube.com/embed/VIDEO_ID" frameborder="0" allowfullscreen></iframe>
        <div class="icon-container">
            <i class="bi bi-heart icon"></i>
        </div>
    </div>

</div>

