.moderatorBarr {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../../images/backGround.svg);
}

.barr {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid black;
    padding: 25px;
    justify-content: space-between;
}

.bi-person-circle {
    font-size: 50px;
}

.bi {
    color: black;
}

.bi-view-list {
    font-size: 40px;
}