.userEdit{
    background-image: url("../../../images/backGround.svg");
    display: flex;
    align-items: center;
    justify-content: center;
}
.userEditContent{
    background-color: white;
    width: 700px;
    height: fit-content;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.bi-arrow-left-square{
    font-size: 40px;
    position: absolute;
    left: 20px;
}
.userEditContent > .bi-person-circle{
    font-size: 80px;
}

.userName , .gmail , .pasword , .banedStatus{
    width: 300px;
    height: 50px;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 10px;
}

.userName , .pasword , .gmail , .banedStatus{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
}
.banedStatus{
    justify-content: center;
}

.userName > label , .pasword > label , .gmail > label{
    margin: 0;
    font-size: 20px;
    font-weight: 500;
    margin-right: 5px;
}
.userName > input , .pasword > input , .gmail > input{
    margin-right: 20px;

}


.banedStatus > label{
    margin-right: 5px;
    margin-left: 3px;
}
.btn-secondary{
    margin-top: 10px;
}

.roleStatus {
    width: 300px;
    height: 50px;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    justify-content: center;
}

.roleStatus > label {
    margin-right: 5px;
    margin-left: 3px;
}

input[type="radio"] {
    margin-right: 10px;
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

label {
    cursor: pointer;
}

    input[type="radio"]:last-child {
        margin-right: 0;
        margin-bottom: 5px;
    }

input{
    outline:none;
    border:none;
}

