@using System.Web.Optimization

@{
    ViewBag.Title = "Control Content";
    Layout = "~/Views/Shared/_LayoutBlankPage.cshtml";
}
@Scripts.Render("~/Content/css/admin/content")

<body class="adminPage">

    <div class="barr">
        <i class="bi bi-person-lines-fill"></i>
        <i class="bi bi-person-circle"></i>
    </div>

    <div class="CourseBarr">
        <div class="courseSearch">
            <i class="bi bi-search"></i>
        </div>
        <i class="bi bi-file-earmark-plus"></i>
    </div>

    <div class="courseList">

        <div class="adminCourseView">
            <img src="../images/movement.png" />
            <p>Mișcările de bază în CS:GO 2 sunt esențiale pentru succesul în joc și includ diverse tehnici care îmbunătățesc abilitatea de a evita focurile inamice.</p>
            <div class="editRemoveCourse">
                <div class="edit"><i class="bi bi-pencil"></i></div>
                <div class="remove"><i class="bi bi-file-earmark-minus"></i></div>
            </div>
        </div>

        <div class="adminCourseView">
            <img src="../images/movement.png" />
            <p>Mișcările de bază în CS:GO 2 sunt esențiale pentru succesul în joc și includ diverse tehnici care îmbunătățesc abilitatea de a evita focurile inamice.</p>
            <div class="editRemoveCourse">
                <div class="edit"><i class="bi bi-pencil"></i></div>
                <div class="remove"><i class="bi bi-file-earmark-minus"></i></div>
            </div>
        </div>

        <div class="adminCourseView">
            <img src="../images/movement.png" />
            <p>Mișcările de bază în CS:GO 2 sunt esențiale pentru succesul în joc și includ diverse tehnici care îmbunătățesc abilitatea de a evita focurile inamice.</p>
            <div class="editRemoveCourse">
                <div class="edit"><i class="bi bi-pencil"></i></div>
                <div class="remove"><i class="bi bi-file-earmark-minus"></i></div>
            </div>
        </div>

        <div class="adminCourseView">
            <img src="../images/movement.png" />
            <p>Mișcările de bază în CS:GO 2 sunt esențiale pentru succesul în joc și includ diverse tehnici care îmbunătățesc abilitatea de a evita focurile inamice.</p>
            <div class="editRemoveCourse">
                <div class="edit"><i class="bi bi-pencil"></i></div>
                <div class="remove"><i class="bi bi-file-earmark-minus"></i></div>
            </div>
        </div>

        <div class="adminCourseView">
            <img src="../images/movement.png" />
            <p>Mișcările de bază în CS:GO 2 sunt esențiale pentru succesul în joc și includ diverse tehnici care îmbunătățesc abilitatea de a evita focurile inamice.</p>
            <div class="editRemoveCourse">
                <div class="edit"><i class="bi bi-pencil"></i></div>
                <div class="remove"><i class="bi bi-file-earmark-minus"></i></div>
            </div>
        </div>

        <div class="adminCourseView">
            <img src="../images/movement.png" />
            <p>Mișcările de bază în CS:GO 2 sunt esențiale pentru succesul în joc și includ diverse tehnici care îmbunătățesc abilitatea de a evita focurile inamice.</p>
            <div class="editRemoveCourse">
                <div class="edit"><i class="bi bi-pencil"></i></div>
                <div class="remove"><i class="bi bi-file-earmark-minus"></i></div>
            </div>
        </div>

        <div class="adminCourseView">
            <img src="../images/movement.png" />
            <p>Mișcările de bază în CS:GO 2 sunt esențiale pentru succesul în joc și includ diverse tehnici care îmbunătățesc abilitatea de a evita focurile inamice.</p>
            <div class="editRemoveCourse">
                <div class="edit"><i class="bi bi-pencil"></i></div>
                <div class="remove"><i class="bi bi-file-earmark-minus"></i></div>
            </div>
        </div>

        <div class="adminCourseView">
            <img src="../images/movement.png" />
            <p>Mișcările de bază în CS:GO 2 sunt esențiale pentru succesul în joc și includ diverse tehnici care îmbunătățesc abilitatea de a evita focurile inamice.</p>
            <div class="editRemoveCourse">
                <div class="edit"><i class="bi bi-pencil"></i></div>
                <div class="remove"><i class="bi bi-file-earmark-minus"></i></div>
            </div>
        </div>


    </div>


</body>

