@using System.Web.Optimization

@{
    ViewBag.Title = "Control Users";
    Layout = "~/Views/Shared/_LayoutBlankPage.cshtml";
}
@Styles.Render("~/Content/css/admin/users")

<body class="users">

    <div class="barr">
        <i class="bi bi-view-list"></i>
        <i class="bi bi-person-circle"></i>
    </div>

    <div class="searchUser">
        <div class="searchBarr">
            <i class="bi bi-search"></i>
        </div>
    </div>

    <div class="userList">

        <div class="userData">
            <div class="userIMG">
                <i class="bi bi-person-circle"></i>
            </div>
            <div class="userInfoBlock">
                <div class="infoFQ">
                    <p>Login:</p>
                    <p>Gmail:</p>
                    <p>Data:</p>
                </div>
                <div class="userInfo">
                    <p>Alex:</p>
                    <p>blablablabla@gmail.com</p>
                    <p>13.02.2024</p>
                </div>
            </div>
            <div class="userRemove">
                <i class="bi bi-person-x"></i>
            </div>
        </div>

        <div class="userData">
            <div class="userIMG">
                <i class="bi bi-person-circle"></i>
            </div>
            <div class="userInfoBlock">
                <div class="infoFQ">
                    <p>Login:</p>
                    <p>Gmail:</p>
                    <p>Data:</p>
                </div>
                <div class="userInfo">
                    <p>Alex:</p>
                    <p>blablablabla@gmail.com</p>
                    <p>13.02.2024</p>
                </div>
            </div>
            <div class="userRemove">
                <i class="bi bi-person-x"></i>
            </div>
        </div>

        <div class="userData">
            <div class="userIMG">
                <i class="bi bi-person-circle"></i>
            </div>
            <div class="userInfoBlock">
                <div class="infoFQ">
                    <p>Login:</p>
                    <p>Gmail:</p>
                    <p>Data:</p>
                </div>
                <div class="userInfo">
                    <p>Alex:</p>
                    <p>blablablabla@gmail.com</p>
                    <p>13.02.2024</p>
                </div>
            </div>
            <div class="userRemove">
                <i class="bi bi-person-x"></i>
            </div>
        </div>

        <div class="userData">
            <div class="userIMG">
                <i class="bi bi-person-circle"></i>
            </div>
            <div class="userInfoBlock">
                <div class="infoFQ">
                    <p>Login:</p>
                    <p>Gmail:</p>
                    <p>Data:</p>
                </div>
                <div class="userInfo">
                    <p>Alex:</p>
                    <p>blablablabla@gmail.com</p>
                    <p>13.02.2024</p>
                </div>
            </div>
            <div class="userRemove">
                <i class="bi bi-person-x"></i>
            </div>
        </div>

        <div class="userData">
            <div class="userIMG">
                <i class="bi bi-person-circle"></i>
            </div>
            <div class="userInfoBlock">
                <div class="infoFQ">
                    <p>Login:</p>
                    <p>Gmail:</p>
                    <p>Data:</p>
                </div>
                <div class="userInfo">
                    <p>Alex:</p>
                    <p>blablablabla@gmail.com</p>
                    <p>13.02.2024</p>
                </div>
            </div>
            <div class="userRemove">
                <i class="bi bi-person-x"></i>
            </div>
        </div>

        <div class="userData">
            <div class="userIMG">
                <i class="bi bi-person-circle"></i>
            </div>
            <div class="userInfoBlock">
                <div class="infoFQ">
                    <p>Login:</p>
                    <p>Gmail:</p>
                    <p>Data:</p>
                </div>
                <div class="userInfo">
                    <p>Alex:</p>
                    <p>blablablabla@gmail.com</p>
                    <p>13.02.2024</p>
                </div>
            </div>
            <div class="userRemove">
                <i class="bi bi-person-x"></i>
            </div>
        </div>

        <div class="userData">
            <div class="userIMG">
                <i class="bi bi-person-circle"></i>
            </div>
            <div class="userInfoBlock">
                <div class="infoFQ">
                    <p>Login:</p>
                    <p>Gmail:</p>
                    <p>Data:</p>
                </div>
                <div class="userInfo">
                    <p>Alex:</p>
                    <p>blablablabla@gmail.com</p>
                    <p>13.02.2024</p>
                </div>
            </div>
            <div class="userRemove">
                <i class="bi bi-person-x"></i>
            </div>
        </div>

        <div class="userData">
            <div class="userIMG">
                <i class="bi bi-person-circle"></i>
            </div>
            <div class="userInfoBlock">
                <div class="infoFQ">
                    <p>Login:</p>
                    <p>Gmail:</p>
                    <p>Data:</p>
                </div>
                <div class="userInfo">
                    <p>Alex:</p>
                    <p>blablablabla@gmail.com</p>
                    <p>13.02.2024</p>
                </div>
            </div>
            <div class="userRemove">
                <i class="bi bi-person-x"></i>
            </div>
        </div>

        <div class="userData">
            <div class="userIMG">
                <i class="bi bi-person-circle"></i>
            </div>
            <div class="userInfoBlock">
                <div class="infoFQ">
                    <p>Login:</p>
                    <p>Gmail:</p>
                    <p>Data:</p>
                </div>
                <div class="userInfo">
                    <p>Alex:</p>
                    <p>blablablabla@gmail.com</p>
                    <p>13.02.2024</p>
                </div>
            </div>
            <div class="userRemove">
                <i class="bi bi-person-x"></i>
            </div>
        </div>

        <div class="userData">
            <div class="userIMG">
                <i class="bi bi-person-circle"></i>
            </div>
            <div class="userInfoBlock">
                <div class="infoFQ">
                    <p>Login:</p>
                    <p>Gmail:</p>
                    <p>Data:</p>
                </div>
                <div class="userInfo">
                    <p>Alex:</p>
                    <p>blablablabla@gmail.com</p>
                    <p>13.02.2024</p>
                </div>
            </div>
            <div class="userRemove">
                <i class="bi bi-person-x"></i>
            </div>
        </div>

        <div class="userData">
            <div class="userIMG">
                <i class="bi bi-person-circle"></i>
            </div>
            <div class="userInfoBlock">
                <div class="infoFQ">
                    <p>Login:</p>
                    <p>Gmail:</p>
                    <p>Data:</p>
                </div>
                <div class="userInfo">
                    <p>Alex:</p>
                    <p>blablablabla@gmail.com</p>
                    <p>13.02.2024</p>
                </div>
            </div>
            <div class="userRemove">
                <i class="bi bi-person-x"></i>
            </div>
        </div>

        <div class="userData">
            <div class="userIMG">
                <i class="bi bi-person-circle"></i>
            </div>
            <div class="userInfoBlock">
                <div class="infoFQ">
                    <p>Login:</p>
                    <p>Gmail:</p>
                    <p>Data:</p>
                </div>
                <div class="userInfo">
                    <p>Alex:</p>
                    <p>blablablabla@gmail.com</p>
                    <p>13.02.2024</p>
                </div>
            </div>
            <div class="userRemove">
                <i class="bi bi-person-x"></i>
            </div>
        </div>

        <div class="userData">
            <div class="userIMG">
                <i class="bi bi-person-circle"></i>
            </div>
            <div class="userInfoBlock">
                <div class="infoFQ">
                    <p>Login:</p>
                    <p>Gmail:</p>
                    <p>Data:</p>
                </div>
                <div class="userInfo">
                    <p>Alex:</p>
                    <p>blablablabla@gmail.com</p>
                    <p>13.02.2024</p>
                </div>
            </div>
            <div class="userRemove">
                <i class="bi bi-person-x"></i>
            </div>
        </div>
    </div>

</body>