<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="project_CAN.Domain.Properties.Settings.project_CAN_DB"
            connectionString="Data Source=DESKTOP-K7K6J8G;Initial Catalog=project_CAN;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>