@using System.Web.Optimization
@using System.Web.UI.WebControls

@{
    ViewBag.Title = "Aiming-ul";
    Layout = "~/Views/Shared/_LayoutPageUser.cshtml";
}
@Styles.Render("~/Content/css/user/watchTutorial")

<div class="course">
    <div class="courseContent">
        <h1>Aiming-ul</h1>
        <img src="#" />
        <p>
            Îmbunătățirea abilităților de împușcare (aiming) necesită timp, răbdare și practică constantă. Iată câteva sfaturi pentru a-ți îmbunătăți aiming-ul în joc:<br>
            Setează DPI-ul și sensibilitatea corect: Reglează setările DPI-ului și sensibilitatea mouse-ului în funcție de preferințele tale. Un DPI mai mare și o sensibilitate mai mică pot fi utile pentru a obține o precizie mai mare în timpul împușcăturilor.<br>
            Practică țintirea capului: În CS:GO, împușcând inamicul în cap, cauzezi cea mai mare cantitate de daune. Prin urmare, concentrează-te pe țintirea capului în timpul antrenamentelor și a jocului real.<br>
            Folosește hărți de antrenament: Există hărți de antrenament special create pentru a-ți îmbunătăți aiming-ul în CS:GO. Aceste hărți oferă exerciții structurate și sunt excelente pentru practică.<br>
            Folosește Deathmatch pentru practică reală: Modelează-ți condițiile de joc real în modul Deathmatch. Această modalitate îți va oferi oportunitatea de a practica aiming-ul împotriva altor jucători într-un mediu mai dinamic.<br>
            Îmbunătățește crosshair-ul: Alege un crosshair care să se potrivească stilului tău de joc și care să te ajute să-ți urmărești mai ușor ținta. Poți personaliza crosshair-ul în setările jocului.<br>
            Stabilește un ritm de respirație: În timpul situațiilor tensionate, respirația ta poate fi neregulată, ceea ce poate afecta aiming-ul. Încearcă să-ți menții respirația la un ritm stabil pentru a-ți îmbunătăți precizia și concentrarea.<br>
            Analizează și învață din greșeli: Revizuiți înregistrările jocurilor tale și analizează ce ai făcut bine și ce ai făcut greșit în ceea ce privește aiming-ul. Învață din greșelile tale și încercați să le corectați în sesiunile viitoare.<br>
            Joacă cu jucători mai buni decât tine: Jucați împotriva jucătorilor care sunt mai buni decât tine poate fi frustrant uneori, dar este o modalitate excelentă de a-ți îmbunătăți rapid abilitățile. Veți învăța din mișcările și tactica lor și veți crește în mod constant ca jucător.
        </p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/LdN0iKU1xe4?si=Qqq5nVtMlQeJVUm1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

</div>
