@using System.Web.Optimization
@using System.Web.UI.WebControls

@{
    ViewBag.Title = "Movement-ul";
    Layout = "~/Views/Shared/_LayoutPageUser.cshtml";
}
@Styles.Render("~/Content/css/user/watchTutorial")

<div class="course">
    <div class="courseContent">
        <h1>Tehnici de mișcare</h1>
        <img src="#" />
        <p>
            Strafing: Aceasta este o tehnică fundamentală în CS:GO, care implică mișcarea laterală rapidă folosind tastele A (stânga) și D (dreapta) împreună cu mișcarea mouse-ului. Această tehnică te ajută să eviți gloanțele inamice în timp ce îți menții precizia de împușcare.<br>
            Crouch-peeking: Când te apropii de un colț sau de o poziție în care știi că ar putea fi un inamic, poți să apeși tasta Control (Crouch) pentru a scădea înălțimea personajului tău și a face ținta mai mică pentru inamic. Aceasta îți poate oferi un avantaj atunci când te angajezi într-un schimb rapid de focuri.<br>
            Bunny-hopping: Aceasta este o tehnică avansată care implică săritul repetat și sincronizat în timp ce te deplasezi pentru a menține viteza ridicată și pentru a te deplasa rapid pe hartă. Cu toate acestea, trebuie menționat că unele servere sau turnee pot interzice această tehnică.<br>
            Pre-aiming: Este important să-ți anticipezi poziția inamicului și să îți așezi ținta în consecință. Acest lucru îți poate economisi timp și îți poate crește șansele de a câștiga un schimb de focuri.<br>
            Jiggle-peeking: Această tehnică implică mișcarea rapidă în jurul unui colț sau a unei poziții pentru a obține informații despre prezența inamicilor fără a-ți expune complet corpul. Este o modalitate eficientă de a obține inteligență și de a evita să fii ținta ușoară.<br>
            Smoke/flash-jumping: Poți folosi grenadele de fum și grenadele flash pentru a-ți masca mișcările și pentru a confunda inamicul. Poți sări peste aceste grenade pentru a avansa rapid pe hartă sau pentru a surprinde inamicul.
        </p>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/axfbaB8Cs9Q?si=S2GC0cKuZiM1njy3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

</div>
