@using System.Web.Optimization
@using System.Web.UI.WebControls

@{
    ViewBag.Title = "Spraying-ul";
    Layout = "~/Views/Shared/_LayoutPageUser.cshtml";
}
@Styles.Render("~/Content/css/user/watchTutorial")

<div class="course">
    <div class="courseContent">
        <h1>Spraying pattern</h1>
        <img src="#" />
        <p>
            "Spraying pattern" se referă la modelul de recul pe care îl urmează arma în timpul tragerii continue. Cunoașterea și înțelegerea acestor modele de recul te pot ajuta să controlezi împușcăturile și să-ți îmbunătățești precizia. Iată cum poți să îți îmbunătățești abilitățile de a trage corect:<br>
            Învață pattern-urile de recul: Fiecare armă din CS:GO are un model specific de recul pe care îl urmează atunci când tragi continuu. Există multe resurse online care prezintă aceste modele și cum să le controlezi. Începe prin a învăța pattern-urile de recul ale armelor tale preferate.<br>
            Practică pe hărți de antrenament: Există hărți de antrenament special concepute pentru a-ți ajuta să înveți și să exersezi controlul reculului. Aceste hărți oferă ținte și linii de ghidare pentru a te ajuta să îți îmbunătățești precizia și controlul.<br>
            Fă pauze între trageri: În timp ce tragi, încearcă să faci pauze scurte între rafale pentru a controla mai bine reculul. Aceste pauze îți permit să-ți resetezi puțin ținta și să menții controlul asupra împușcăturilor tale.
            Învățarea compensării reculului: Pe măsură ce tragi, trebuie să muți ușor mouse-ul în direcția opusă reculului pentru a compensa ridicarea armei. Cu practică constantă, vei deveni mai eficient în anticiparea și corectarea reculului în timpul tragerii.<br>
            Reglează sensibilitatea mouse-ului: Uneori, reglajele DPI-ului și sensibilitatea mouse-ului pot afecta capacitatea ta de a controla reculul. Experimentează cu aceste setări pentru a găsi un echilibru care să îți permită să controlezi mai bine împușcăturile.<br>
            Antrenează-te cu diferite arme: Fiecare armă are un model de recul unic, deci este important să exersezi cu diferite arme pentru a învăța cum să le controlezi pe fiecare în parte. Învață să te adaptezi la diferitele modele de recul pentru a fi pregătit în orice situație.<br>
            Analizează și ajustează: Revizuiți înregistrările jocurilor tale pentru a vedea cum te-ai descurcat în ceea ce privește controlul reculului. Identifică zonele în care poți îmbunătăți și ajustează-ți abordarea în consecință în sesiunile viitoare de joc.
        </p>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/fD0pQhObIL8?si=1t8ihJmRtnnbLD2M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>

</div>
